body {
	font-family: georgia, serif;
	font-size: 16px;
	color:black;
	border: 10px;
	vertical-align: baseline;
	margin: 100px;
	line-height: 2.5em;
	background-color: white;
}

h1 {
	font-family: georgia, serif;
	font-size: 21px;
	color:black;
}

p {
	font-family: georgia, serif;
	font-size: 17px;
	color:black;
	background-color: white;
	clear: both;
	padding-bottom: 20px;
	margin: 20px 10px 0px 20px;
}

div {
	font-size: 50px;
	font-family: Lithos pro;
	text-align: center;
	line-height: 90px;
	width: 80px;
	height: 80px;
	color: #555;
	background-color: #999;
	margin: 20px 0px 150px 20px;
	padding: 20px;

	float: left;
}

div:hover {
	background-color: black;
	color: white;
	font-size: 30px;
	padding-top: 30px;
}

#special {
	background-color: #FFDAB9;
}

#link {
	width: 220px;
	height: 80px;
	background-color: #999;
	font-size: 18px;
	margin: auto 10px;
	padding: 20px;
	text-align: center;
	margin: 20px 10px 200px 20px;

	float: left;
}

#link:hover {
	background-color: black;
	color: white;
	font-size: 20px;
	padding: 30px;
}

img {
	width: 1000px;
	font-family: monospace;
	margin: 20px 10px 150px 20px;
}